.registerBackground {
  background-position: center center;
  margin: 0;
  width: auto;
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 77%, 0 100%, 0 100%, 0% 50%);
  display: flex;
  justify-content: center;
}

.registerBackground img {
  max-width: 800px;
  width: 80%;
  height: 80%;
}

.titleRegister {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.subtitleRegister {
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
}

.registerInput {
  width: 300px;
  height: 46px;
  border: 1px solid #8b8b8b;
  border-radius: 10px;
  background-color: #212121;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #8b8b8b;
  padding: 5px;
}

input,
input::placeholder {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #8b8b8b;
  padding: 5px;
}

.registerInput-container {
  position: relative;
  display: inline-block;
}

.register-container input {
  padding-right: 40px;
}

.passwordIconRegister {
  position: absolute;
  right: 8px;
  top: 0;
  height: 100%;
  background-color: rgba(31, 31, 31, 0.43);
}

.registerInput-container button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(31, 31, 31, 0.43);
  color: white;
  border: none;
  padding-right: 15px;
  cursor: pointer;
}

.btnRegister {
  border: 1px solid #9eff70;
  border-radius: 28px;
  width: 274px;
  height: 50px;
  color: #9eff70;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 556;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
}

.btnRegister:hover {
  color: white;
  background-color: #9eff70;
}

.errorMessageRegister {
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: tomato;
  text-align: center;
}
